// Specific CSS for your home-page
.body {
	text-align: center;
}

#brand-name {
	letter-spacing: 2px;
}

.nav-link {
	font-size: 16px;
  font-weight: bold;
}

.banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 280px 0;
  height: 100vh;
  background-repeat: no-repeat;
  .container {
  	text-align: center;
  	width: 720px;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.search-bar {
	margin: 16px 0px;
  text-align: left;
}

#surfboard_location {
  padding: 30px;
  letter-spacing: 2px;
  font-size: 14px;
}

.secondary-container {
  margin: 80px auto;
  h2 {
    margin-bottom: 40px;
  }
}

.secondary-banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 280px 0;
}