// Specific CSS for your home-page
body {
  letter-spacing: 2px;
  line-height: 28px;
}

.main-container {
  background-color: #f7f7f7;
	text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

#brand-name {
	letter-spacing: 2px;
}

.nav-link {
	font-size: 16px;
  font-weight: bold;
}

.banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 280px 0;
  height: 100vh;
  background-repeat: no-repeat;
}

.banner-container {
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

#banner-button {
  text-align: center;
}

 .card-steps {
 	margin: 260px 0px 0px 0px;
 }

.search-bar {
	margin: 16px 0px;
  text-align: left;
}

#surfboard_location {
  padding: 30px;
  letter-spacing: 2px;
  font-size: 14px;
  text-align: left;
}

.secondary-container {
  margin: 80px auto;
  h2 {
    margin-bottom: 40px;
  }
}

.secondary-banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: flex-end;
}

#secondary-banner-text {
  font-size: 44px;
  margin: 60px;
  color: white;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
