<% if @bookings.exists? %>
  <ol>
    <% @bookings.each do |booking| %>
      <% if booking.surfboard.user == @user %>
        <li><%= link_to "#{booking.user.username} wants to book your #{booking.surfboard.title} from #{booking.start_date} to #{booking.end_date}", booking_path(booking) %></li>
      <% end %>
    <% end %>
  </ol>

  <h5>I want to book:</h5>
  <ol>
    <% @bookings.each do |booking| %>
      <% if booking.user.id == @user.id %>
        <li><%= link_to "You want to book #{booking.surfboard.title} from #{booking.surfboard.user.username}, from #{booking.start_date} to #{booking.end_date}", booking_path(booking) %></li>
      <% end %>
    <% end %>
  </ol>
<% end %>
