<% if @bookings.exists? %>
  <h1>Others that want to book your board:</h1>
  <% @bookings.each do |booking| %>
    <% if booking.surfboard.user == current_user %>
      <%= link_to booking_path(booking) do %>
        <div class="card">
          <%= "#{booking.user.username} wants to book your #{booking.surfboard.name} surfboard from #{booking.start_date} to #{booking.end_date}" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h1>I want to book:</h1>
  <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <%= link_to booking_path(booking) do %>
        <div class="card">
          <%= "You want to book #{booking.surfboard.name} from #{booking.surfboard.user.username}, from #{booking.start_date} to #{booking.end_date}" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
