<div class="container-form">
	<div class="form-container">
		<div class="form-header">
	  	<h1><%= 'Start a new booking' %></h1>
		</div>
		<div class="form-body">
			<div class="unavailable-date" data-unavailable="<%= @surfboard.unavailable_dates.to_json %>">
			</div>
	  	<%= render 'new_form' %>
		</div>
	</div>
</div>
