<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <i class="footer-link fab fa-fw fa-facebook-f"></i>
    <i class="footer-link fab fa-fw fa-github"></i>
    <i class="footer-link fab fa-fw fa-twitter"></i>
  </div>
  <p id="footer-copyright">Copyright © SeaHabilitated 2020</p>
</div>