<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            About Us
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          about us text
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Help
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Help Text
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Privacy Policy
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <h5><strong>Use of personal details (purpose of register)</strong></h4>
          <p>Personal details are collected to make communication and use of service possible. Details can be used for communication between service providers and users and also for direct communication between users. Some personal details are visible on the profile page of the user, but those details are voluntary (except name).</p>
          <br>
          <p>The handling of personal details is not outsourced, but the register data is stored on a server that is rented from a third party company. Information content of the register</p>
          <br>
          <h5><strong>The following information may be stored in the register:</strong></h5>
          <ul>
            <li>Personal details: Name, email address, street address</li>
            <li>Account details: username, password (stored in encrypted format)</li>
            <li>The description text that the user may write about him/herself</li>
            <li>The offers and requests the user has posted to the service</li>
            <li>The given and received feedback and badges</li>
            <li>Statistical data about service usage, e.g. number times the user has logged in</li>
          </ul>
          <br>
          <p>Personal details are given by the user on registration to the service or when using it later.</p>
          <h5><strong>Cookies</strong></h5>
          <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Seahabilitated uses cookies to help Seahabilitated identify and track visitors, their usage of Seahabilitated website, and their website access preferences. Seahabilitated visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Seahabilitated’s websites, with the drawback that certain features of Seahabilitated’s websites may not function properly without the aid of cookies.</p>
          <h5><strong>Ads</strong></h5>
          <p>Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Seahabilitated and does not cover the use of cookies by any advertisers.</p>
          <h5><strong>Privacy Policy Changes</strong></h5>
          <p>Although most changes are likely to be minor, Seahabilitated may change its Privacy Policy from time to time, and in Seahabilitated’s sole discretion. Seahabilitated encourages visitors to frequently check this page for any changes to its Privacy Policy.  Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
          <h5><strong>Protection of Certain Personally-Identifying Information</strong></h5>
          <p>Seahabilitated discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Seahabilitated’s behalf or to provide services available at Seahabilitated’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Seahabilitated’s websites, you consent to the transfer of such information to them. Seahabilitated will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Seahabilitated discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Seahabilitated believes in good faith that disclosure is reasonably necessary to protect the property or rights of Seahabilitated, third parties or the public at large. If you are a registered user of Seahabilitated website and have supplied your email address, Seahabilitated may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with Seahabilitated and our products.  We expect to keep this type of email to a minimum. Seahabilitated takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>
        </div>
      </div>
    </div>
     <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Terms of Use
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <h5><strong>Eligibility</strong></h5>
          <p>This Service is intended solely for people eighteen (18) years of age or older, and any registration, use or access to the Service by anyone under 18 is strictly prohibited. Seahabilitated reserves the right to limit or restrict access by any person, in our sole discretion.</p>
          <h5><strong>End User License</strong></h5>
          <p>Subject to the terms and conditions of this Agreement, you are hereby granted a non-exclusive, limited, non-transferable, freely revocable, license to use the Service for your personal, noncommercial use only. Seahabilitated may terminate this license at any time for any reason or no reason.</p>
          <h5><strong>Indemnity</strong></h5>
          <p>You agree to defend, indemnify and hold harmless Seahabilitated and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the Service or Products; (ii) your violation of any term of this Agreement, including without limitation your breach of any of the representations and warranties; (iii) your violation of any third-party right, including without limitation any right of privacy, publicity rights or Intellectual Property Rights; (iv) your violation of any law, rule or regulation of the United States or any other country; (v) any claim or damages that arise as a result of any of your User Content or any that is submitted via your account; or (vi) any other party’s access and use of the Service with your unique username, password or other appropriate security code.</p>
          <h5><strong>No Warranty</strong></h5>
          <p>If you choose to use the service and/or participate in a rental, you do so at your own risk.  The service and any products are provided on an “as is” and “as available” basis.  To the maximum extent permitted by applicable law, the service is provided without warranties of any kind, whether express or implied, including, but not limited to implied warranties of merchantability, fitness for a particular purpose, or non-infringement.  No advice or information, whether oral or written, obtained by you from Seahabilitated or through the service will create any warranty not expressly stated herein.  Without limiting the foregoing, Seahabilitated, its subsidiaries, and its licensors do not warrant that the content is accurate, reliable or correct; that the service or any rental will meet your requirements; that the service will be available at any particular time or location, uninterrupted or secure; that any defects or errors will be corrected; or that the service is free of viruses or other harmful components.  You will be solely responsible for any damage or loss that results from your use of the service or products.</p>
          <h5><strong>Limitation of Liability</strong></h5>
          <p>Except as expressly provided in the insurance provision, to the maximum extent permitted by applicable law, in no event shall Seahabilitated, its affiliates, agents, directors, employees, supplier, or its licensors be liable for any direct, indirect, punitive, incidental, special, consequential, or exemplary damages, including without limitation damages for loss of profits, goodwill, use, data or other intangible losses, that result from the use of, or inability to use this service, including without limitation any rental.</p>
          <p>To the maximum extent permitted by applicable law, Seahabilitated assumes no liability or responsibility for any (I) Errors, mistakes, or inaccuracies of content; (II) Personal injury or property damage of any nature whatsoever, resulting from your access to or use of our service or products; (III) Any unauthorized access to or use of our secure servers and/or any and all personal information stored therein; (IV) Any interruption or cessation of transmission to or from the service; (V) Any bugs, viruses, or the like that may be transmitted to or through our service by any third party; (IV) Any errors or omissions in any content or for any loss or damage incurred as a result of the us of any content posted, emailed, transmitted, or otherwise made available through the service; and/or (VII) User content or the defamatory, offensive, or illegal conduct of any third party.  In no event shall Seahabilitated, its affiliates, agents, directors, employees, suppliers, or licensors be liable to you for any claims, proceedings, liabilities, obligations, damages, losses or costs in an amount exceeding the greater of either (a) The amounts paid by Seahabilitated to you in the twelve (12) month period prior to the event giving rise to the liability; or (b) One hundred dollars ($100).  The limitations of damages set forth above are fundamental elements of the basis of the bargain between Seahabilitated and you.  This limitation of liability section applies whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if Seahabilitated has been advised of the possibility of such damage.  The forgoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction.</p>
          <h5><strong>Assignment</strong></h5>
          <p>This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Seahabilitated without restriction.  Any attempted transfer or assignment in violation hereof shall be null and void.</p>
          <h5><strong>Termination</strong></h5>
          <p>We may terminate your participation in the Service at any time, for any reason or no reason, without explanation. We maintain sole discretion to bar your use of the Service in the future, for any reason that we determine or for no reason. This Agreement will remain in effect after your participation in the Service terminates. </p>
        </div>
      </div>
    </div>
  </div>
</div>





