<h1>Welcome to Seahabilitated!</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Surfboards", surfboards_path, class: "btn btn-primary" %>
<%= link_to "Bookings", bookings_path, class: "btn btn-primary" if current_user %>
