<%= form_tag surfboards_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    id: "surfboard_location",
    placeholder: "Search by location"
  %>
<%= submit_tag "Find your Surfboard", class: "btn btn-primary" %>
<% end %>

<!-- <span id="banner-typed-text"></span> -->
