.avatar {
  border-radius: 50%;
  object-fit: cover;

  &--small {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &--large {
    width: 200px;
    height: 200px;
  }
}

.profile-picture {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
