.button {
	background-color: #ffd373;
	color: black;
	padding: 16px 24px;
    letter-spacing: 2px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    margin: 16px;
	&:hover {
		background-color: #006b69;
		color: white;
		text-decoration: none;
	}
}