.card {
	width: 300px;
	height: 300px;
  border-radius: 3px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 32px;
  background-size: cover;
  border: none;
  background-position: center;
  border-bottom: 4px solid #ffd373;
  p {
  	color: black;
  	text-align: center;
  }
}

.fas {
  color: #006b69;
  font-size: 30px;
}