.fab {
	font-size: 32px;
	color: #ffd373;
}

.footer {
	background-color: #161616;
	padding: 48px 48px 0px 48px;
	position: absolute;
	width: 100%;
}

p {
	color: #ffd373;
	opacity: 0.5;
	letter-spacing: 1px;
    font-size: 14px;
}
