.container-form {
	width: 50%;
	margin: 48px auto;
	text-align: center;
}

.form-container {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	.form-header {
		padding-top: 24px;
	}
}

.form-body {
  padding: 4% 22%;
  letter-spacing: 1px;
  line-height: 32px;
  a {
  	color: black;
  }
}

#surfboard_photo {
	width: 220px;
  margin: 0 auto;
}

input {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}