.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 87.5833px;
  bottom: 0;
}

.filters {
  position: sticky;
  top: 75.5833px;
  bottom: 0;
  z-index: 9;
}

.checkout-buttons {
  padding-top: 10px;
}
