.navbar {
  height: 10vh !important;

  &__item {
    margin: 14px;
    margin-right: 0;
    align-self: center;

    & a {
      text-decoration: none;
      color: black;
      font-family: 'Playfair Display', serif;
      text-transform: uppercase;
      margin: 14px;
      letter-spacing: 1px;

      &:hover {
        color: $teal;
      }
    }
  }

  &__brand {
    font-size: 2rem;

    &:hover {
      color: $teal;
    }
  }
}

.navbar-toggler {
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
}

.dropdown-item {
  width: auto;
}

.navbar-nav {
  text-align: right;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
